.role-tag[data-v-46f7a77a],.class-tag[data-v-46f7a77a]{margin-right:5px;margin-bottom:5px}.wechat-info[data-v-46f7a77a]{display:flex;align-items:center}.wechat-nickname[data-v-46f7a77a]{margin-left:10px}
