services:
  server:
    build:
      context: ../server
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started 
    ports:
      - "3000:3000"
    volumes:
      - ./deploy/server/logs:/app/logs
      - ./deploy/server/casbin_model.conf:/usr/src/app/casbin_model.conf
    restart: unless-stopped

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./deploy/postgres/data:/var/lib/postgresql/data
      - ./deploy/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:latest
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/timezone:/etc/timezone
    ports:
      - "6379:6379"
